
@import url('https://fonts.googleapis.com/css?family=Tangerine|Inconsolata');

body, html {
  background-color: #000;
  background-image: url("xmaslight.gif");
  background-repeat: repeat;
  
}

h2 {
  font-family: 'Tangerine',"Lucida Sans",serif;
  color: #fff;
  font-size: 3.5em;
  text-shadow: 4px 4px 4px #aaa;
  opacity: 0.9;
}

figure#tree {
 margin-right: 1%
}

figure#santa {
   margin-left: -4%
}

p#wish{
  color: #FFF;
  font-size: 2em;
  font-family: Inconsolata,"Calibri",sans-serif;
}

@media only screen and (max-width: 750px){

}


