
@import url('https://fonts.googleapis.com/css?family=Tangerine|Inconsolata');

body, html {
  background-color: #000;  
}

h2 {
  font-family: 'Tangerine',"Lucida Sans",serif;
  color: #fff;
  font-size: 3.5em;
  text-shadow: 4px 4px 4px #aaa;
}

.btn{ font-family: 'Tangerine',"Lucida Sans",serif; font-size: 3.5em; }

p#quote{
  color: #FFF;
  font-size: 2em;
  font-family: Inconsolata,"Calibri",sans-serif;
  text-align: center;
}

.row_spacer{ margin-top: 80px; }

a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
  outline: 0;
}

@media only screen and (min-width: 750px){
  h2{ font-size: 4.5em; }
}

@media only screen and (max-width: 750px){
  #anotherquote{ margin: 20px 0; }
  .btn{ font-size: 2.5em; }
  .row_spacer{ margin-top: 15px; }
}


